$cd-primary: #9356DC;
$cd-primary-lighten: #9256dc21;
$cd-secondary: #FF79DA;
$cd-tertiary: #99E2D0;
$cd-darkengray: #f3f3f3;
$cd-lightengray: #fafafa;
$cd-itemwhite: #fff;
$cd-whitetext: #fff;
$cd-blacktext: #000;
$cd-itemgray: #7e7e7e;
$cd-greentext: #1b6150;
$cd-footercolor: #353535;

$ft-title:'Shrikhand';
$ft-text:'Roboto';




@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Shrikhand&display=swap'); /* Font shrikhand for title & logo */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap'); /* Font Roboto for text */

* {
    box-sizing: border-box;
    color: $cd-blacktext;

}

a {
    text-decoration: none;
    margin: 0;
}
/* display flex */ 
@import "libs/mixins.scss";

.flexCentre {
@include flexCentre; 
}
.flexAround {
@include flexAround;
}
.flexBetween {
@include flexBetween;
}
.flexStart {
@include flexStart;
}
.flexEnd {
@include flexEnd;
}
.flexColumnBetween{
@include flexColumnBetween; 
}
.flexColumnCentre {
@include flexColumnCentre;
}
.flexColumnAround {
@include flexColumnAround;
}

/* Paramètres Page accueil */ 

body {
    width: auto;
    margin: 0;
    padding: 0;
    font-family: $ft-text, sans-serif;
}

.bold {
@include bold;
}

.container {
    max-width: 1280px;
    margin: auto;
}

/* Loader */
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: linear-gradient($cd-primary,$cd-tertiary, $cd-secondary);
    opacity: 0.5;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* permet l'utilisation du site en fond*/
    animation: loading 2500ms 1 forwards;

        &_item {
            width: 100px;
            height: 100px;
            border-top: 10px solid $cd-primary;
            border-bottom: 10px solid $cd-greentext;
            border-radius: 50%;
            animation: spin 1.5s linear infinite;
        }
    
}
@keyframes loading {
    0% {
        opacity: 0.5;
        z-index: 10000;
      }
      90% {
        opacity: 0.5;
        z-index: 10000;
      }
      100% {
        opacity: 0;
        z-index: -1;
        display: none;
      }
    
}
@-webkit-keyframes loading {
    0% {
        opacity: 0.5;
        z-index: 10000;
      }
      90% {
        opacity: 0.5;
        z-index: 10000;
      }
      100% {
        opacity: 0;
        z-index: -1;
        display: none;
      }
    
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* HEADER */
header{
    font-family: $ft-title;
    font-size: larger;
    box-shadow: 0 0 .5rem rgba(0,0,0,.25);
    position: relative;
    z-index: 999;
}

/* Localisation bar */
.localisation-box {
    padding: .2em;
    background-color: $cd-darkengray;
    font-size: 1.2em;
}
.fa-map-marker-alt
{
    margin-right: 1%;
}

/* Nav box */ 
.main-nav-box {
    background-color: $cd-lightengray;
    padding-bottom: 3%;
}
.nav_button {
    padding: 1%;
    cursor: pointer;
    background-color: $cd-itemgray;
    border-radius: 100px;
    color: $cd-whitetext;
    background-image: linear-gradient($cd-secondary, $cd-primary);
    margin-top: 1%;
    transition-duration: 300ms;

        &:hover {
           box-shadow: 5px 5px 5px  rgba(0,0,0,.25);
        }
}
    h2 {
        font-size: xx-large;
    }

    .color-text-button {
        color: $cd-whitetext;
            &:hover  {
                color: $cd-darkengray;
            }
    }

/* Fonctionnement box */
#fonctionnement {
    margin: 3% 5%;
}
.sizing {
    font-size: x-large;
}
.liste-tuto {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    counter-reset: compteListe;
}
.card-tuto {
   width: 30%;
   margin: 0 5% 0 5%;
   padding: 1.5em;
   background-color: $cd-darkengray;
   border-radius: 1.25rem;
   box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);
   display: flex;
   position: relative;
   transition-duration: 300ms;

        &:hover  {
            background: $cd-primary-lighten;
            color: $cd-primary;
        }

        &:hover > i {
            color: $cd-primary;
        }

        &::before{
            counter-increment: compteListe 1;
            content: counter(compteListe) " ";
            background: $cd-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $cd-whitetext;
            position: absolute;
            left: -.75rem;
        }
}

.fa-mobile-alt {
    margin-right: 5%;
    color: $cd-itemgray;
}
.fa-list-ul {
    margin-right: 5%;
    color: $cd-itemgray;
}
.fa-store {
    margin-right: 5%;
    color: $cd-itemgray;
}
/* Restaurant cards */

.title-rest 
{
    font-size: x-large;
}
#restaurant {
    width: 100%;
    background-color: $cd-darkengray;
    padding: 2rem 1rem;
}
.restaurant-card-box 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 20%;
}
.restaurant-card
{
    width: 40%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 10px 0 #999;
    margin: 2%;
    position: relative;
}

.img_restaurant-card 
{
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 150px;
    object-fit: cover;
}

.body-restaurant-card {
    padding: 0 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.like-card-icon
{
    font-size: xx-large;
}

.fa-heart {
    cursor: pointer;
        &:hover {
            background-image: linear-gradient($cd-secondary, $cd-primary);
            transition-duration: 250ms;
        }
}

.icon-new-box {
    background-color: $cd-tertiary;
    color: $cd-greentext;
    border-radius: 0.2rem;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    right: .75rem;
}

/* Footer */
footer {
    background-color: $cd-footercolor;
    padding: 1%;
    line-height: 25px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.h2-footer {
    font-family: $ft-title;
    font-size: x-large;
    color: $cd-whitetext;
}
.color-text{
    color: $cd-whitetext;
        &:hover {
            color: $cd-primary;
        }
}

.fa-utensils {
    margin-right: 5px;
    font-size: small;
}
.fa-hands-helping {
    margin-right: 2px;
    font-size: x-small;
}

@media screen and (max-width: 765px) { /*tablette */
    /* Localisation bar */
    .fa-map-marker-alt
    {
        margin-right: 3%;
    }
    /* nav box */
    .main-nav-box
    {
        padding-bottom: 3%;
    }
    .nav_button {
        margin: 3%;
        padding: 2%
    }
    /* fonctionnement box */
    .sizing {
        text-align: center;
    }
    .liste-tuto {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .card-tuto{
        margin-bottom: 3%;
        width: 80%;
    }
}

@media screen and (max-width: 768px) { /* Telephone */
    /* Localisation bar */
    .fa-map-marker-alt
    {
        margin-right: 5%;
    }
    /* nav box */
    .main-nav-box
    {
        text-align: center;
        padding: 1%;
        padding-bottom: 5%;
    }
    .nav_button {
        padding: 5%;
        margin: 5%;
    }

    /* fonctionnement box */
    .sizing {
        text-align: start;
        margin-left: 5%;
    }
    .liste-tuto {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    .card-tuto{
        width: 85%;
    }
/* Restaurant cards */
    .restaurant-card-box {
        width: 100%;
        padding: 0;
        
    }
    .restaurant-card
    {
        width: 100%;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 5px 10px 0 #999;
        margin: 2% 2%;
    }
    /* Footer */ 
    .margin-footer {
        margin-left: 6%;
    }
}



/* ===================   Pages Annexes ================= */
/* Header */
.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-back-icon {
    position: absolute;
    left: 3%;
}
/* Font image */
.top-background-image {
    width: 100%;
    max-width: 100%;
    max-height: 32em;
    object-fit: cover;
}

/* menu bloc */

.mainblock {
    background-color: $cd-darkengray;
    padding: 2%;
    margin-top: -5em;
    position: relative;
    border-radius: 30px 30px 0 0;
}
.headerblock {
    font-family: $ft-title;
}


/* bloc inside menu */

.menu-list {
    display: flex;
    justify-content: space-between;
} 



.block-list {
    width: 30%;
    overflow: hidden;
}
.title-list {
    font-weight: 100;
}
.underline {
    width: 50px;
    background-color: $cd-tertiary;
    height: 4px;
    margin-top: -1em;
}


.command-button {
    margin: 2%;
    padding: 1%;
    background-image: linear-gradient($cd-secondary, $cd-primary);
    width: 10%;
    border-radius: 25px;
    color: $cd-whitetext;
    cursor: pointer;
    font-weight: bold;
}

/* card */ 

.card {
    background-color: $cd-itemwhite;
    padding: 0;
    margin: 5% 0 2% 0;
    width: 100%;
    height: 5em;
    border-radius: 15px;
    overflow: hidden;

        
}
.body-card {
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.inside-body {
    width: 90%;
}
.card-price {
    align-self: end;
    margin: 0 1% 2% 0;
    font-weight: bold;
}

.h4-menu {
    margin: 0; 
    padding: 5% 0 0 2%;
}
.p-menu {
    margin: 0;
    padding: 5% 0 0 2%;
}











@media screen and (max-width: 996px) { /*tablette */

    /* header annexe */
    .headerblock {
        margin: 0 5% 0 5%;
    }
    .header-back-icon {
        position: absolute;
        left: 5%;
    }

    /* Menu bloc */
    .mainblock {
        margin-top: -10em;
    }
    /* menu liste */
    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 15% 0 15%;
    }

    .block-list {
        width: 100%;
    }

    .card {
        height: 50%;
    }
    .h4-menu {
        padding: 2% 0 0 2%;
    }
    .p-menu {
        padding: 2% 0 0 2%;
    }
    /* command button */

    .command-button {
        padding: 2%;
        width: 20%;
    }

}
@media screen and (max-width: 768px) { /* Telephone */
    
    /* header annexe */
    .headerblock {
        margin: 0;
    }
    .header-back-icon {
        position: absolute;
        left: 7%;
    }

    /* Menu bloc */

    .mainblock {
        margin-top: -6em;
    }

    .menu-list {
        margin: 0 5% 0 5%;
    }

    .block-list {
        width: 100%;
        margin-bottom: 10%;
        overflow: hidden;
        
    }

    /* command button */ 

    .command-button {
        padding: 3%;
        width: 30%;
        margin-bottom: 5%;
    }
}

